<div id="inst">
<div class="instructions_div">
    
    <H2>HOW TO PLAY ?</H2>
    <ol>
        <li>Cards are mixed and set in a form of grid facing down.</li>
        <li>Turn over any two cards.</li>
        <li>If the two cards match, you score.</li>
        <li>If they don't match, cards turns over.</li>
        <li>Remember what was on each card and where it was.</li>
        <li>The game is completed when all the cards have been matched.</li>
    </ol>   
    <br>
    <h3>Good Luck!!!!!</h3>    
    <button routerLink = "/game">Play</button> 
</div>
</div>