#inst{
background-image: url('./.././../assets/images/welcome1_background.jpg');
}

.instructions_div{
    margin-top: 1vw;
     background: rgb(1,1,1,0.3);  
    position: absolute;
    padding: 1vw;
    left: 30vw;
    right: 30vw;
    }
        H2{
            font-size:30px;
            font-family:sans-serif;
            color: #4d004d;
            margin-left:20px;
            text-align: center;   
        }      
        h3{
            font-size:25px;
            font-family:sans-serif;
            color: #4d004d;
            text-align: center;
        } 
    ol{
            font-size:15px;
            font-family:sans-serif;
            font-weight: bold;
            line-height: 30px;
            color: #4d004d;
    }
    button{
        background-color:#4d004d ; 
        border-radius:10px;
        width: 150px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }
    button:hover{
        box-shadow: 0 0 16px 0 rgba(0,0,0,0.24);
    } 